.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.login-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 3rem;
  
}

.app-name-logo>h1 {
    margin-top: 0;
}

.input-box>form {
    display: flex;
    flex-direction: column;
}
.input-box>form>p{
    margin-top: 2rem;
}
.input-box>form>p>span>a{
text-decoration: none;
}

.name {
    margin-top: 1rem !important;
}

.signup-btn {
    margin-top: 3rem !important;
}
 