.application-engineering {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   border-radius: 14px;
}
.top-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin:2rem 2rem 0 2rem ;
    padding-top: 1.56rem;
}
.top-content>h1{
 font-weight:bold;
}
.next-icons{
    cursor: pointer;
    color: #1976d2;
     
}
.top-content>div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.application-engineering>form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
.application-engineering>form>button {
    margin-top: 2rem;
     
}

.application-engineering>form>input {
    font-family: 'Open Sans', sans-serif;
    margin: 2rem !important;
}
.intro-of-college{
    font-size: 17px;
    margin:0.67rem 0 0.67rem 0;
}
textarea{
    padding: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.upload-logo{
    border: 1px solid gray;
    padding: 0.58rem;
    border-radius: 5px;
     cursor: pointer;
}
.upload{
    margin-top: 1rem;
    padding:5px 10px;
    border:1px solid lightgray;
    position:relative;
    border-radius:5px;
    text-align:center;
    float:left;
    cursor:pointer
}
.hide_file {
      position: absolute;
      z-index: 1000;
      opacity: 0;
      cursor: pointer;
      right: 0;
      top: 0;
      height: 100%;
      font-size: 24px;
      width:100%;
  }
  input[type='file'] {
    color: transparent;
  }
  button{
    margin-bottom:2rem !important;
  }